/*Media Queries*/

@media screen and (min-width:500px){
    .collapsednav {
      display:none;}
}

@media screen and (max-width:500px){
    .pill {
      display:none;}
}

@media screen and (max-width:800px){
  .image{
    display:none;}
  .jumbotron {
    text-align:center;}

}

@media screen and (max-width:480px){
  h2 {
    display:none;}
  .jumbotron {
    text-align:center;}
  .contact2 {
    text-align:center;
  }

  }

header {
	position: relative;
	margin-top: -20px;
	background-image:url("http://ecx.images-amazon.com/images/I/91zRT51ws5L._SX450_.jpg");}

a.current{
  text-transform:uppercase;
  font-weight:bold;
}

/*body#Home a#homenav, body#resume a#resumenav, body#project a#projectsnav, body#photo a#photosnav, body#contact a#contactnav{
text-transform: uppercase;
font-weight: bold;
}
*/
.text {
  text-align: center;
  color: white;
  display:block;
  font-family: "Courier New";
}

.additional {
  text-align: center; 
  color: white;
  display:block;
  font-family: "Courier New";	
}

nav a {
  	position: absolute;
	display: inline-block;
	text-align: center;
	border: solid 1px black;
	border-radius: 2em;
	padding: 9px 9px 7px 7px;
	bottom: 0;
	right:0;
	vertical-align: bottom;

	is equivalent to:

	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	border-bottom-left-radius: 2em;
	background-color: white;
}

body {
	font-family: arial;
  text-align: left;
	background-image: url("http://img02.deviantart.net/f6d8/i/2015/029/6/9/burnt_parchment_by_doodler326-d8ftzyj.png")
}

.myClass {
	border: solid 1px black;
    -webkit-column-count: 3; Chrome, Safari, Opera 
    -moz-column-count: 3;  Firefox
    column-count: 3;
}

ol {
    list-style-type: upper-roman;
  }

div img {
    display: inline-block;
}

footer p {
	text-transform: uppercase;
	text-align: center;
}

@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

.page-header{
  text-align: center; 
}
.bs-callout {
    text-align: left;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin-bottom: 5px;
    padding: 20px;
}
.bs-callout:last-child {
    margin-bottom: 0px;
}
.bs-callout h4 {
    margin-bottom: 10px;
    margin-top: 0;
}
.bs-callout-danger {
    border-left: 3px;
    border-right 3px;
}
.bs-callout-danger h4{
    color: #d9534f;
}
.resume .list-group-item:first-child, .resume .list-group-item:last-child{
  border-radius:0;
}

.inactive-link {
   pointer-events: none;
   cursor: default;
}

.project{
	border: solid 1px black;
	display: inline-block;
	padding: 9px 9px 7px 7px;
	margin: 1%;
	text-align: left;

}

.experience{
  border: solid 1px black;
  display: inline-block;
  padding: 9px 9px 7px 7px;
  margin: 1%;
  text-align: left;

}

.contact {
  padding-left:10px;
  padding-right:10px;
  text-align:left;
}

.jumbotron {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color:black;
    background-color: #A5542B;
    font-family: arial;}

.fa-fa-linkedin-square {
  color: blue;
  font-size: 7em;
}
 
footer {
	background-image:url("http://ecx.images-amazon.com/images/I/91zRT51ws5L._SX450_.jpg");
	color:white;
  font-family: "Copperplate Gothic";
}

.carousel{
    background: #2f4357;
    width:75%;
    margin: 0 auto;
}

.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
    margin: 20px;
}
