{% extends "templates/base.html" %}
{% block content %}

<body id="contact">
<div class="contact">
<h3>You should contact me if...</h3>
<p>...you're looking to hire a capable graduate student for your library, museum, or archive.</p>
<p>...you're interested in learning more about my projects and experiences.</p>
<p>...you're searching for a cat-sitter or adoptive pet parent for a cat or kitten.</p>
<p>...you're lonely and in need of a friend.</p>
<p>...you're selling bedroom furniture for under $100 an item.</p>
<p>...you're just so amazed by my web design skills that you simply <i>have</i> to say something.</p>

<p>So what are you waiting for? Feel free to message or connect with me on LinkedIn or contact me via Facebook. While my phone number is listed on my resume, I encourage you not to use it--I'm terrified of phone calls. Instead, email me at lgialane@umich.edu, leighgialanella@gmail.com, or (if you're feeling retro), leighgialanella@yahoo.com.</p>

<p>If all else fails, you can always find me riding the Bursley-Baits bus, searching for my missing MCard in the North Quad grad student lounge, or freaking out about homework pretty much everywhere. Hope to hear from you!</p></div>

	
{% endblock %}