{% extends "templates/base.html" %}
{% block content %}

<body id="contact">
<div class="contact">
<h3><b>You should contact me if...</b></h3>

<ul>
<li>you're looking to hire a capable graduate student for your library, museum, or archive.</li>
<li>you're interested in learning more about my projects and experiences.</li>
<li>you're searching for a cat-sitter or adoptive pet parent for a cat or kitten.</li>
<li>you're lonely and in need of a friend.</li>
<li>you're selling bedroom furniture for under $100 an item.</li>
<li>you're just so amazed by my web design skills that you simply <i>have</i> to say something.</li>
</ul>

<div class="contact2">
<p>So what are you waiting for? Feel free to message or connect with me on <a href="https://www.linkedin.com/in/leigh-gialanella-26ab1764?trk=nav_responsive_tab_profile">LinkedIn</a> profile or contact me via <a href="https://www.facebook.com/leigh.gialanella">Facebook</a>. While my phone number is listed on my resume, I encourage you not to use it--I probably won't answer. Instead, email me at lgialane@umich.edu or leighgialanella@gmail.com.</p>

<p>If all else fails, you can always find me riding the Bursley-Baits bus, searching for my missing MCard in the North Quad grad student lounge, or freaking out about homework pretty much everywhere. Hope to hear from you!</p></div></div>

	
{% endblock %}