{% extends "templates/base.html" %}
{% block content %} 

<body>
<div class="jumbotron">
    <h3>Welcome to my website!</h3><p>My name is Leigh Gialanella and I am pursuing a Master of Information at the University of Michigan in preparation for a career in digital librarianship, digital archiving, and/or digital asset management. Currently, I am processing paper collections at the Gerald R. Ford Presidential Library and beginning a digital collection project at the University of Michigan Museum of Art.</p>
</div>
<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-ride="false">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="static/image1.jpg" alt="Girl in historic library with computer">
            </div>
            <div class="item">
                <img src="static/image2.jpg" alt="Five women and one man">
            </div>
            <div class="item">
                <img src="static/image3.jpg" alt="Girl at computer surrounded by disks">
            </div>
             <div class="item">
                <img src="static/image4.jpg" alt="Girl sifting dirt near dirt pile during archaeological dig">
            </div>
            <div class="item">
                <img src="static/image5.jpg" alt="Girl making hand gesture while showing off early version of portfolio">
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
</body>

{% endblock %}
