{% extends "templates/base.html" %}
{% block content %} 

<body id="photo">
    
    <div class="experience">
    <h3>Thornton Abbey</h3>
	<p>Beginning in my first year at Hamilton College, I decided to incorporate my love of history into a career in archaeology. That summer, I participated in the Thornton Abbey project, a month-long archaeological dig based in North Lincolnshire, England. Our field crew dug a number of different trenches, unearthed a garden path, and discovered brick walls belonging to a long-since demolished house on the abbey grounds. We found copper alloys, pottery sherds, and hairpins, as well as the occasional set of cow teeth. Excavating an archaeological site is incredibly difficult. It rained almost every day and we spent our summer living in tents, never totally clean and never totally dry. I left Thornton Abbey with a newfound respect for archaeology--and a certainty that fieldwork, at least, was not for me.</p>


        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/gate.jpg" alt = "Medieval gatehouse">
            </a>
        </div>
        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/wall.jpg" alt = "Archaeological site displaying stones and part of a brick wall">
            </a>
        </div>
        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/path.jpg" alt = "Stone path">
            </a>
        </div>
        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/bones.jpg" alt = "Box full of cow and sheep bones">
            </a>
        </div>
    </div>

    <div class="experience">
    <h3>Kampsville and Cahokia</h3>
    <p>The following summer, however, I decided to explore a new branch of archaeology through the Kampsville Bioarchaeology and Human Osteology Field School. For ten weeks, I estimated sex and age, studied biodistance, and assessed paleopathological damages to prehistoric human skeletal remains at the Center for American Archaeology. It was fascinating to slowly but surely learn more about both the human body and our individual study skeletons. Though the work was interesting, my time in Kampsville taught me that bioarchaeology is simply not my strong suit. Thus my dream of becoming an archaeologist came to an end.We weren't allowed to photograph the skeletons, so here are a few photos of Kampsville, Illinois. When we arrived, the rivers had flooded a third of the town. You have to see it to believe it.</p>

        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/flood.jpg" alt = "Playground under water">
            </a>
        </div>
        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/flood2.jpg" alt = "'Dead End' sign in from of street submerged in water">
            </a>
        </div>
        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/ferry.jpg" alt = "Ferry by river">
            </a>
        </div>
        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/monk.jpg" alt = "Large grassy mound">
            </a>
        </div>
    </div>

    <div class="experience">
    <h3>Un Semestre en Madrid!</h3>
    <p>During the summer before my junior year in undergrad, I decided to study abroad in a foreign country. Not wanting to step too far out of my comfort zone, I researched programs in Australia, England, Wales, and other English-speaking countries before eventually settling on Spain. As I applied to Hamilton College's Spanish immersion program, I could not decide if I was making the best or worst decision of my life. The end result was the most amazing semester I have ever had. My host family was welcoming, my courses were interesting, and my weekends and breaks were filled with trips to Portugal, Germany, Hungary, Austria, Greece, and the Czech Republic.Oh, Madrid, no tengo mucho dinero ahora, pero prometo que voy a volver algún día.</p>
   
        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/night.jpg" alt = "City at night">
            </a>
        </div>
        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/palacio.jpg" alt = "Elegant white building">
            </a>
        </div>
        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/creepy.jpg" alt = "Decorative archway featuring a dwarf reading a book">
            </a>
        </div>
        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/end.jpg" alt = "Three girls eating at fancy dinner">
            </a>
        </div>
    </div>
	
{%endblock%}

