{% extends "templates/base.html" %}
{% block content %} 

<body id="photo">
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    


    <h3>Experiences</h3>
    <p>Sometimes when I read over my resume, I find myself thinking about how one-sided it is. Hiring managers will, of course, want to know about my career-related experience, my knowledge of archival standards, and my preferred interests within the field of digital librarianship. But there's so many experiences my resume leaves out, so many experiences that I wish I could share with people. Our resumes do not shape us nearly as much as our experiences do.</p>

    <h3>Thornton Abbey</h3>
	<p>Beginning in my first year at Hamilton College, I decided to incorporate my love of history into a career in archaeology. That summer, I participated in the Thornton Abbey project, a month-long archaeological dig based in North Lincolnshire, England. Our field crew dug a number of different trenches, unearthed a garden path, and discovered brick walls belonging to a long-since demolished house on the abbey grounds. We found copper alloys, pottery sherds, and hairpins, as well as the occasional set of cow teeth. Excavating an archaeological site is incredibly difficult. It rained almost every day and we spent our summer living in tents, never totally clean and never totally dry.I left Thornton Abbey with a newfound appreciation for the archaeologist's life, and a certainty that fieldwork was not for me.</p>

    <div class = "row">

        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/gate.jpg" alt = "Medieval strucutre">
            </a>
        </div>
        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/wall.jpg" alt = "Medieval strucutre">
            </a>
        </div>
        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/path.jpg" alt = "Medieval strucutre">
            </a>
        </div>
        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/bones.jpg" alt = "Medieval strucutre">
            </a>
        </div>
    </div>

    <h3>Kampsville and Cahokia</h3>
    <p>The following summer, however, I decided to explore a new branch of archaeology with the Kampsville Bioarchaeology and Human Osteology Field School. During the course of that summer, I learned how to determine the age and sex of thousand-year-old skeletons, and recognize paleopathologies on them. Each person had their own study skeleton, which we worked with each day. It was REALLY cool. But that's when I learned something new about myself: I'm not good at bioarchaeology. We weren't allowed to photograph the skeletons, but I have tons of pictures of the twon Kampsville, which was a third of the way underwater. You have to see it to believe it.</p>


    <div class = "row">
   
        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/flood.jpg" alt = "Medieval strucutre">
            </a>
        </div>
        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/flood2.jpg" alt = "Medieval strucutre">
            </a>
        </div>
        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/ferry.jpg" alt = "Medieval strucutre">
            </a>
        </div>
        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/monk.jpg" alt = "Medieval strucutre">
            </a>
        </div>
    </div>

    <h3>Un Semestre en Madrid!</h3>
    <p>I really wanted to study abroad, but had a hard time choosing where. I was afraid to do anywhere that wasn't English speaking. In the end, I took one of the biggest risks of my life and chose Madrid, Spain. The end result was the most amazing semester I had ever had, exploring Spain, Portugal, Czech Republic, Germany, Hungary, Austria, and Greece. I left a Spain a significantly more conflident person.</p>

      <div class = "row">
   
        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/night.jpg" alt = "Medieval strucutre">
            </a>
        </div>
        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/palacio.jpg" alt = "Medieval strucutre">
            </a>
        </div>
        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/creepy.jpg" alt = "Medieval strucutre">
            </a>
        </div>
        <div class = "col-sm-6 col-md-3">
            <a href = "#" class = "thumbnail">
                <img src = "static/end.jpg" alt = "Medieval strucutre">
            </a>
        </div>
        </div>


    <p>Seven months ago, I moved to Ann Arbor. This experience is in progress. So far, I have met the perfect man (that's you, Edward!), made new friends, redefined my career goals, and acquired two internships for this summer. Bring it on, world!</p>
	
	
	
{%endblock%}

