{% extends "templates/base.html" %}
{% block content %} 

<body>
<div class="project">
<h3>The Exchange Digital Collection--University of Michigan Museum of Art (February 2016-present)</h3><p>The University of Michigan Museum of Art recently received a grant to create the Exchange, a custom-made digital collection interface designed to organize and display learning resources, object files, and user-generated content related to the Museum's collections. Since February of 2016, I have been preparing portfolios for ingest into the Exchange through the creation of metadata and subject tags. I also attend weekly staff meetings in preparation for the implementation of the Exchange. This summer, I will be continuing to work on the project in partial fulfillment of PEP credit.</p>


<div class = "col-sm-7 col-md-4">
    <a href = "#" class = "thumbnail">
        <img src = "static/umma1.jpg" alt = "Building with sculpture in front of it">
    </a>
</div>
<div class = "col-sm-7 col-md-4">
    <a href = "#" class = "thumbnail">
        <img src = "static/umma2.jpg" alt = "Elegant interior of building">
    </a>
</div>
<div class = "col-sm-7 col-md-4">
    <a href = "#" class = "thumbnail">
        <img src = "static/umma3.png" alt = "Screenshot of an art portfolio from UMMA website">
    </a>
</div>
</div>
      

<div class="project">
<h3>Organize it and Link it: Sharing Digital Objects Using Archivist's Toolkit--National Museum of American History (Alternative Spring Break, 2016)</h3><p>The National Museum of American History Archives Center digitizes materials upon request instead of implementing large-scale digitization programs. Rather than create and maintain digital collections, Archives Center staff members embed digital images within online archival access tools. Between February 29 and March 4, 2016, I organized a number of recently-digitized images into hierarchies within the Smithsonian's Digital Asset Management System (DAMS). After situating the digital objects in their respective hierarchies, I linked the images in slideshow format to online finding aids and catalog records. Check out my <a href="https://seelio.com/w/26l6/national-museum-of-american-history_archives-center?student=leighgialanella">Seelio portfolio</a> for more information about this project!"</p>

<div class = "col-sm-7 col-md-4">
	<a href = "#" class = "thumbnail">
		<img src = "static/smith1.jpg" alt = "Exterior of National Museum of History of Art">
    </a>
</div>
<div class = "col-sm-7 col-md-4">
    <a href = "#" class = "thumbnail">
        <img src = "static/smith2.jpg" alt = "Dual-monitor computer setup displaying six programs open">
    </a>
</div>
<div class = "col-sm-7 col-md-4">
    <a href = "#" class = "thumbnail">
        <img src = "static/smith3.png" alt = "Screenshot of one completed image slideshow from Smithsonian website">
    </a>
</div>
</div>
       
<div class="project">
<h3>Digital Processing--Gerald R. Ford Presidential Library (January 2016-present)</h3><p>This semester, I have been aiding the Ford Library in its digital processing initiative by creating disk images of unstable disks, extracting and bagging files, and entering metadata into Excel spreadsheets. As time has unfortunately demonstrated, CD-ROMs and DVDs do not age well. It is essential, therefore, to store disk images of the Ford Library's born-digital holdings on a secure server for preservation. Thus far, I have processed a large collection of disks containing images of Gerald Ford's funeral, as well as a host of "orphan" disks without collection affiliation.</p>


<div class = "col-sm-7 col-md-4">
	<a href = "#" class = "thumbnail">
		<img src = "static/ford1.jpg" alt = "Exterior of Gerald R. Ford Presidential Library">
    </a>
</div>
<div class = "col-sm-7 col-md-4">
    <a href = "#" class = "thumbnail">
    	<img src = "static/ford2.jpg" alt = "Name tag containing photograph and information">
    </a>
</div>
<div class = "col-sm-7 col-md-4">
    <a href = "#" class = "thumbnail">
    	<img src = "static/ford3.jpg" alt = "Woman and Man">
    </a>
</div>
</div>

	
<div class="project">
<h3>The Library of the Oneida Community Digital Collection--Hamilton College, Department of Special Collections (June 2014-August 2015)</h3><p>During the summer of 2014, I cataloged approximately four thousand 17-19th century books and serial volumes at the Oneida Community Mansion House museum and historical site. I compiled information about marginalia, bookplates, inserted materials, and cataloging numbers for each item into RefWorks records. Over the next year, I helped create a digital collection for the Oneida Community Mansion House Library by editing records before and after ingest, supplementing records with links to electronic texts, and writing web content.</p>

<div class = "col-sm-7 col-md-4">
	<a href = "#" class = "thumbnail">
		<img src = "static/oneida1.jpg" alt = "Large elegant building">
    </a>
</div>
<div class = "col-sm-7 col-md-4">
    <a href = "#" class = "thumbnail">
    	<img src = "static/oneida2.png" alt = "Screenshot of Oneida Community Digital Collections website">
    </a>
</div>
<div class = "col-sm-7 col-md-4">
    <a href = "#" class = "thumbnail">
    	<img src = "static/oneida3.png" alt = "Screenshot of record within collection">
    </a>
</div>
</div>
</body>

{% endblock %}


