{% extends "templates/base.html" %}
{% block content %} 

<body>
<p></p>
<p></p>
<div class="container">
<div class="row info" style="text-align:center;">
<p></p>
<p></p>
<p></p>
<p></p>
<div class="resume">
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading resume-heading">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-xs-12 col-sm-4">
              <figure>
                <img class="img-circle img-responsive" alt="" src="static/image10.jpg">
              </figure>
              <div class="row">
                <div class="col-xs-12 social-btns">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <ul class="list-group">
                <li class="list-group-item">Leigh Gialanella</li>
                <li class="list-group-item">University of Michigan</li>
                <li class="list-group-item">Digital Libraries and Archives</li>
                <li class="list-group-item"><i class="fa fa-phone"></i> 518-209-0876 </li>
                <li class="list-group-item"><i class="fa fa-envelope"></i> lgialane@umich.edu</li>
              </ul>
           </div>
        </div>
      </div>
        <div class="bs-callout bs-callout-danger">
        <h4>Education</h4>
        <table class="table table-striped table-responsive ">
          <thead>
            <tr><th>Degree</th>
            <th>Graduation Year</th>
            <th>GPA</th>
          </tr></thead>
          <tbody>
            <tr>
              <td>University of Michigan--MS, Information</td>
              <td>2017</td>
              <td> Classified </td>
            </tr>
            <tr>
              <td>Hamilton College--BA, History</td>
              <td>2015</td>
              <td> Classified </td>
            </tr>
          </tbody>
        </table>
      </div>
       <div class="bs-callout bs-callout-danger">
        <h4>Experiences</h4>
        <ul class="list-group">
          <a class="list-group-item inactive-link" href="#">
            <h4 class="list-group-item-heading">
              University of Michigan Museum of Art
            </h4>
            <p class="list-group-item-text"><i>Digital Collection Assistant.</i>
            <p></p>
            <p class="list-group-item-text">
              Prepare online portfolios of artwork for ingest into the museum’s new custom-made digital collection system, the Exchange, through the creation of metadata and subject tags. Attend weekly staff meetings in preparation for the implementation of the Exchange.</p>
            </a>
          <a class="list-group-item inactive-link" href="#">
            <h4 class="list-group-item-heading">
             Gerald R. Ford Presidential Library
            </h4>
            <p class="list-group-item-text"><i>Student Archives Assistant.</i>
            <p></p>
            <p class="list-group-item-text">
              Jumpstart the Ford Library’s Digital Processing initiative by creating disk images of unstable CD-ROMs and DVDs, extracting and bagging files, and entering metadata into Excel spreadsheets. Process, rehouse, and appraise collections of documents and files relating to Gerald R. Ford’s presidency and later years.</p>
            </a>
         <a class="list-group-item inactive-link" href="#">
            <h4 class="list-group-item-heading">
              Burke Library, Department of Special Collections, Hamilton College
            </h4>
            <p class="list-group-item-text"><i>Student Assistant.</i>
            <p></p>
            <p class="list-group-item-text">             
            Participated in the creation of a digital collection for the Oneida Community Mansion House library by editing records before and after ingest, supplementing records with links to electronic texts, and writing web content. Digitized manuscripts from the Edward Robinson and Bishop Hill collections using SilverFast scanning software.</p>
            </a>
          <a class="list-group-item inactive-link" href="#">
            <h4 class="list-group-item-heading">
             Hamilton College Emerson Foundation
            </h4>
            <p class="list-group-item-text"><i>Research Fellow.</i>
            <p></p>
            <p class="list-group-item-text">
              Compiled RefWorks records containing information about approximately four thousand 17th-19th century books and serial volumes at the Oneida Community Mansion House. Recorded information about marginalia, bookplates, inserted materials, and other defining characteristics for each item.</p>
            </a>
        </ul>
      </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Volunteer Experience</h4>
        <ul class="list-group">
          <a class="list-group-item inactive-link" href="#">
            <h4 class="list-group-item-heading">
             National Museum of American History-Smithsonian
            </h4>
            <p class="list-group-item-text"><i>Alternative Spring Break Volunteer.</i>
            <p></p>
            <p class="list-group-item-text">
              Organized digital assets into folder-level hierarchies within the Smithsonian’s digital asset management system. Linked digital objects to online finding aids and catalog records using Archivist’s Toolkit and Horizon MarcEdit software.</p>
            </a>
          </ul>
        </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Interests</h4>
        <p>
          Academic Research, Accessibility, Archaeology, Content Management Systems, Databases, Digital Asset Management, Digital Libraries/Archives, Digital Scholarship, Historic Preservation, History, Languages, Rare Books and Manuscripts, Travel
        </p>
      </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Key Expertise</h4>
        <ul class="list-group">
          <li class="list-group-item"> Knowledge of Dublin Core, EAD, LCSH, MARC, METS </li>
          <li class="list-group-item"> Familiarity with Adobe InDesign, ArchivesSpace, Archivist’s Toolkit, MarcEdit, Microsoft Office, Open Text Media Management, Oxygen XML Editor</li>
          <li class="list-group-item"> Basic proficiency in CSS, HTML, Python, XML</li>
          <li class="list-group-item"> Experience with collections processing, contextual inquiry, digitization, editing, and academic research </li>
          <li class="list-group-item">Intermediate proficiency in Spanish</li></ul>
      </div>
     </div> 
   </body>


{% endblock %}
